<div class="modal" id="modalAjoutButs" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Ajouter un but au persona</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="ajoutBut">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ajouterBut">Ajouter</button>
                <button type="button" class="btn btn-danger" id="viderBut">Vider</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalAjoutPersonalites" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Ajouter une personalité au persona</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="ajoutPersonalite">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ajouterPersonalite">Ajouter</button>
                <button type="button" class="btn btn-danger" id="viderPersonalite">Vider</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>